<div class="container-fluid" ng-controller="UploadCtrl">

  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
      <div class="panel panel-default upload">

        <form name="form" enctype="multipart/form-data">
          <div ng-model="file" name="file"
               ngf-select ngf-pattern="'video/*'"
               class="btn btn-default btn-lg"
               accept="video/*">
            Select
          </div>

          <button class="btn btn-primary btn-lg" type="submit" ng-click="upload()" ng-disabled="!file || !form.file.$valid || project === undefined">
            Upload <strong>{{ file.name }}</strong>
          </button>
        </form>

        <div ng-show="uploadSuccess !== null" class="alert" ng-class="uploadSuccess ? 'alert-success' : 'alert-danger'">
          {{ uploadSuccess ? 'Video uploaded successfully!' : 'Something went wrong!' }}
        </div>

        <uib-progressbar class="progress-striped active" value="progress" type="info" ng-show="isUploading">
          {{ progress + '%' }}
        </uib-progressbar>

        <table class="table table-striped">
          <tbody>
          <tr ng-repeat="media in project.medias" ng-show="media.type === 'Video'">
            <td>{{media.name}}</td>
            <td>{{media.status}}</td>
            <td>
              <img ng-src="{{media.thumbnail.url}}" alt="{{media.name}}" />
            </td>
          </tr>
          <tr ng-show="project === undefined">
            <td>
              Loading Wistia Project ...
            </td>
          </tr>
          <tr ng-show="project !== undefined && project.medias.length === 0">
            <td>
              No videos uploaded yet!
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>